d2-button {
  @apply inline-block;
}

.d2-button {
  @apply inline-block appearance-none align-middle;
  @apply outline-none border-none shadow;
  @apply font-bold rounded-sm antialiased font-sans overflow-hidden;
  @apply p-0;
  @apply cursor-pointer;
  @apply no-underline uppercase;

  // Transition
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  transition-property: opacity, background-color, color, box-shadow;

  &:hover {
    @apply shadow-md;
  }

  .d2-button-inner {
    @apply flex leading-normal;

    .d2-button__text {
      @apply inline-flex items-center;
      padding: 0 1.8em;
    }
  }

  /* Button Sizes */
  &.is-size-xs .d2-button-inner {
    height: 1.75rem;
    font-size: 0.65rem;
  }

  &.is-size-xs .d2-button__text {
    @apply px-2;
  }

  &.is-size-sm .d2-button-inner {
    @apply h-8;
    font-size: 0.7rem;
  }

  &.is-size-default .d2-button-inner {
    @apply text-xs h-10;
  }

  &.is-size-lg .d2-button-inner {
    @apply text-sm h-12;
  }

  &.is-size-xl .d2-button-inner {
    @apply text-base;
    height: 3.5rem;
  }

  &.is-size-xxl .d2-button-inner {
    @apply text-lg h-16;
  }

  /**
  * Variants
  */
  &.is-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &.is-rounded {
    @apply rounded-full;
  }

  /**
  * Styling
  **/
  .d2-button__slot-wrapper {
    background: rgba(0, 0, 0, 0.15);
    @apply inline-flex self-stretch items-center;
    padding: 0 1.4em;

    &:empty {
      @apply hidden;
    }
  }

  &.is-rounded .d2-button__slot-wrapper {
    @apply rounded-full;
  }
}
